<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Infinite Disc</title>
</head>
<header>
    <h1>Infinite Disc</h1>
</header>
<body>
  <main>
    <h2 class="loginTitle">Genres</h2>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
</body>

</html>
