<h2 class="loginTitle">Rock Inventory</h2>
<h2>Add to Inventory</h2>
<div class="orderAdd">
    <div class="addInventory">
        <h3>ID:</h3>
        <input type="text" name="id" id="username" placeholder="Enter ID Here">
    </div>
    <div class="addInventory">
        <h3>Band Name:</h3>
        <input type="text" name="id" id="username" placeholder="Enter Band Name Here">
    </div>
    <div class="addInventory">
        <h3>Album Name:</h3>
        <input type="text" name="id" id="username" placeholder="Enter Album Name Here">
    </div>
    <div class="addInventory">
        <h3>Price:</h3>
        <input type="text" name="id" id="username" placeholder="Enter Price Here">
    </div>
    <div class="addInventory">
        <h3>Stock:</h3>
        <input type="text" name="id" id="username" placeholder="Enter Stock Here">
    </div>
</div>
<div class="inventoryButton">
    <button type="submit" id="loginButton">Add Inventory</button>
</div>
<div class="inventoryCard">
    <h3>ID: 1</h3>
    <h3>Band Name: Pink Floyd</h3>
    <h3>Album Name: The Wall</h3>
    <h3>Price: $25.00</h3>
    <h3>Stock: 18</h3>
</div>
<div class="inventoryCard">
    <h3>ID: 3</h3>
    <h3>Band Name: Queen</h3>
    <h3>Album Name: Queen II</h3>
    <h3>Price: $30.00</h3>
    <h3>Stock: 9</h3>
</div>
<div class="inventoryCard">
    <h3>ID: 4</h3>
    <h3>Band Name: Narvana</h3>
    <h3>Album Name: Nevermind</h3>
    <h3>Price: $20.00</h3>
    <h3>Stock: 12</h3>
</div>