<h2 class="loginTitle">Genres</h2>
<div class="orderGenre">
    <div class="orderImage">
        <span>Rock</span>
        <img class="genreImage" src="./images/rock-image.jpg" alt="light bulb"/>
    </div>
    <div class="orderImage">
        <span>Pop</span>
        <img class="genreImage" src="./images/pop-image.jpg" alt="light bulb"/>
    </div>
    <div class="orderImage">
        <span>Rap</span>
        <img class="genreImage" src="./images/rap-image.jpg" alt="light bulb"/>
    </div>
    <div class="orderImage">
        <span>Country</span>
        <img class="genreImage" src="./images/country-image.jpg" alt="light bulb"/>
    </div>
</div>