<div class="inventoryColumn">
<h2 class="loginTitle">Genres</h2>
<div class="orderGenre">
    {{#each genre}}
    <a href="/genre/{{id}}/albums">
    <div class="orderImage">
        <span>{{genre_name}}</span>
        <img class="genreImage" src="./images/{{img}}" alt="light bulb"/>
    </div>
    </a>
    {{/each}}
</div>