<div class="row">
  <form class="column" id="login-form">
    <h2 class="loginTitle">Login</h2>
    <label class="loginInput">Email:</label>
    <input class="userInput" type="email" name="passwordField" id="email-login">
    <label class="loginInput">Password:</label>
    <input class="userInput" type="password" name="passwordField" id="password-login">
    <button type="submit" id="loginButton">Login</button>
  </form>
  <form class="column" id="signup-form">
    <h2 class="loginTitle">Sign Up</h2>
    <label class="loginInput">Name:</label>
    <input class="userInput" type="text" name="usernameField" id="name-signup">
    <label class="loginInput">Email:</label>
    <input class="userInput" type="email" name="passwordField" id="email-signup">
    <label class="loginInput">Password:</label>
    <input class="userInput" type="password" name="passwordField" id="password-signup">
    <button type="submit" id="loginButton">Sign Up</button>
  </form>
</div>