<h2 class="loginTitle">Login</h2>
<div>
  <p class="loginInput">Username:</p>
  <input type="text" name="usernameField" id="username" placeholder= "Enter Username Here">
  <p class="loginInput">Password:</p>
  <input type="text" name="passwordField" id="password" placeholder= "Enter Password Here">
  <div class="loginButton">
  <button type="submit" id="loginButton">Login</button>
</div>