<div class="row">
  <div class="column">
    <h2 class="loginTitle">Login</h2>
    <p class="loginInput">Email:</p>
    <input type="text" name="passwordField" id="userInput">
    <p class="loginInput">Password:</p>
    <input type="text" name="passwordField" id="userInput">
    <button type="submit" id="loginButton">Login</button>
  </div>
  <div class="column">
    <h2 class="loginTitle">Sign Up</h2>
    <p class="loginInput">Name:</p>
    <input type="text" name="usernameField" id="userInput">
    <p class="loginInput">Email:</p>
    <input type="text" name="passwordField" id="userInput">
    <p class="loginInput">Password:</p>
    <input type="text" name="passwordField" id="userInput">
    <button type="submit" id="loginButton">Sign Up</button>
  </div>
</div>